div{
    margin-top: 10px;
}

.mat-card-publication {
    background-color: lightgray;
  }

.mat-toolbar-publication{
    background-color: gray;
  }

.color-text{
    color: white;
}
.withcolor{
  background-color: rgb(245, 207, 207);
}

.example-tab-icon {
  margin-right: 8px;
}