<body style="height: 100%;">
    <div class="container">
        <div class="row">
          <div class="col">
            <img style="width: 500px;height: 500px;" src="../assets/img/3230320.jpg" >
          </div>
          <div class="col" style="background-color:rgb(159, 231, 207);">
            <h1 class="display-4">¡Bienvenido!</h1>
            <h3>Registra un usuario administrador</h3>
            <form [formGroup]="contactForm" (ngSubmit)="onSaveForm()">
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Correo electrónico</label>
                  <input [(ngModel)]="user.email" type="text" formControlName="email" placeholder="ejemplo@email.com" class="form-control">
          
                  <div class="alert-danger" *ngIf="email?.invalid && (email?.dirty || email?.touched)">
                    <div class="container-error-message" *ngIf="email.errors.required">
                      Email requerido
                    </div>
                    <div class="container-error-message" *ngIf="email.errors.minlength">
                      El correo electrónico debe tener al menos 5 caracteres.
                    </div>
                    <div class="container-error-message"
                      *ngIf="(email.dirty || email.touched) && email.invalid && email.errors.pattern">
                      El valor debe ser una dirección de correo electrónico válida.
                    </div>
                  </div>
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                  <input [(ngModel)]="user.password" formControlName="password" placeholder="123456" class="form-control">
                  <div class="alert-danger" *ngIf="password?.invalid && (password?.dirty || password?.touched)">
                    <div class="container-error-message" *ngIf="password.errors.required">
                      Contraseña requerida
                    </div>
                    <div class="container-error-message" *ngIf="password.errors.minlength">
                      La contraseña debe tener al menos 6 caracteres.
                    </div>
                  </div>
                </div>
                <button type="submit" class="btn-send" [disabled]="!contactForm.valid" class="btn btn-dark" style="width: 100%;">Registrar</button>
            </form>

            <table class="table table-success table-striped">
              <thead>
                <tr>
                  <th scope="col">Actuales:</th>
                </tr>
              </thead>
              <tbody *ngFor="let admin of admins">
                <tr>
                  <td>{{admin.email}}</td>
                  <td>{{admin.rol}}</td>
                </tr>
              </tbody>
            </table>
            <button (click)="logout()" class="btn btn-dark" style="width: 100%;">Salir</button>
          </div>
        </div>
    </div>
    <div *ngIf="errorMessage != ''" class="alert alert-danger" role="alert">
      {{errorMessage}}
    </div>
</body>