<body style="height: 100%;">
    <div class="container">
        <div class="row">
          <div class="col">
            <img style="width: 500px;height: 500px;" src="../assets/img/3230320.jpg" >
          </div>
          <div class="col" style="background-color:rgb(159, 231, 207);">
            <h1 class="display-4">¡Bienvenido!</h1>
            <h3>Registra un usuario administrador</h3>
            <form>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Correo electrónico</label>
                  <input type="email" [(ngModel)]="user.email" class="form-control" name="email" >
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                  <input type="password" [(ngModel)]="user.password" class="form-control" name="password" >
                </div>
                <button (click)="onRegister()" class="btn btn-dark" style="width: 100%;">Registrar</button>
            </form>
            <table class="table table-success table-striped">
              <thead>
                <tr>
                  <th scope="col">Actuales:</th>
                </tr>
              </thead>
              <tbody *ngFor="let admin of admins">
                <tr>
                  <td>{{admin.email}}</td>
                  <td>{{admin.rol}}</td>
                </tr>
              </tbody>
            </table>
            <button (click)="logout()" class="btn btn-dark" style="width: 100%;">Salir</button>
          </div>
        </div>
    </div>
</body>