<app-menu></app-menu>
<h2 >Publicaciones hasta la fecha:</h2>
<div class="row"> 
      <div *ngFor='let publication of publications' class="col-6 col-md-4" style="width: 18rem;">
        <div class="card" style="margin-top: 10px;">
          <div class="card-body">
            <h6 class="card-title">{{publication.title | uppercase}}</h6>
            <h6 class="price">{{publication.userName}}</h6>
            <p class="card-text">{{publication.description}}</p>
          </div>
          <a href="{{publication.file}}" target="_blank">{{publication.fileName}}</a>
            <carousel *ngIf="publication.image != null">
              <div class="carousel-cell" *ngFor="let image of publication.image">
                  <img [src]="image">
              </div>
          </carousel>  
          <button (click)="deletePublication(publication)" type="button" class="btn btn-danger" >
              Borrar
          </button>
        </div>
     </div>
</div>