<app-menu></app-menu>
<br><br><br><h2>Usuarios registrados:</h2><br><br><br>
<div class="row">
  <div *ngFor="let user of users" class="col-6 col-md-4" style="width: 18rem;">
    <div class="card" style="margin-top: 10px; background-color:rgb(182, 253, 215);">
      <div class="card-body" >
        <div style="text-align: center;" *ngIf="!user.photo">
          <img style="border-radius: 300px;width: 70px;height: 70px; " src="../../../assets/img/penguin.svg">
        </div>
        <div style="text-align: center;" *ngIf="user.photo">
        <img style="border-radius: 300px;width: 70px;height: 70px; " [src]="user.photo">
        </div>
        <div >
        <h3 class="card-title" style="text-align: center;" >{{user.name}}</h3>
        <p><b>E-mail: </b>
        <a style="text-decoration:none" class="card-text">{{user.email}}</a></p>
        <p *ngIf="user.description"><b>Descripción: </b>{{user.description}}</p>
          </div>
      </div>
    </div>  
  </div>
</div>

