<br><br><div class="container">
    <div class="row justify-content-center">
      <div class="col-4">
        <div class="btn-group" role="group" aria-label="Basic outlined example">
            <button type="button" (click)="goHome()" class="btn btn-outline-dark">Inicio</button>
            <button type="button" (click)="goReports()" class="btn btn-outline-dark">Reportes</button>
            <button type="button" (click)="goPublications()" class="btn btn-outline-dark">Publicaciones</button>
            <button type="button" (click)="goUsers()" class="btn btn-outline-dark">Usuarios</button>
            <button type="button" (click)="logout()" class="btn btn-outline-danger">Salir</button>
        </div>
      </div>
    </div>
</div>